<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style//AlertSave.css">

    <title>Ficha Tecnica</title>
</head>

<body>

    <div class="containerAlertSave">
        <div class="containerAlert">
            <p class="textoAlert"></p>
        </div>
    </div>

    <div class="containerHeaderIndex">
        <img src="../img/tbbrancopng.png" alt="">
        <p>Termo para ficha tecnica</p>
    </div>

    <div class="containerMainIndex">
        <div class="containerDados">
            <div class="containerRecebidoFrota">
                <p>Declaro que recebi a frota:</p>
                <input type="text" placeholder="Digite aqui..." class="frotaAtual">
            </div>
            <div class="containerRecebidoInstrutor">
                <p>Fui devidamente orientado pelo instrutor:</p>
                <input type="text" placeholder="Digite aqui..." class="instrutorResponsavel">
            </div>
            <div class="containerRecebidoInstrutor">
                <p>Fui devidamente orientado pelo instrutor:</p>
                <select id="mySelect" onclick="getCaminhao()">
                    <option value="Volvo">Volvo</option>
                    <option value="Scania">Scania</option>
                    <option value="DAF">Daf</option>
                    <option value="Iveco">Iveco</option>
                    <option value="Mercedes-Benz">MercedesBenz</option>
                    <option value="Volkswagen">Volkswagen</option>
                    <option value="Mercedes">MercedesBenz</option>
                    <option value="MAN">MAN</option>
                </select>
            </div>
            <div class="containerIntruidoSobre">
                <p class="paragrafoInstruido">Declaro que fui instruido a respeito dos seguintes temas:</p>
                <ul>
                    <li>PNEU.</li>
                    <li>PREENCHIMENTO DO TACÓGRAFO.</li>
                    <li>KM DE REVISÕES.</li>
                    <li>MÉDIA.</li>
                    <li>ARLA.</li>
                    <li>TANQUE PRINCIPAL E AUXILIAR</li>
                    <li>BUJÕES DE AR.</li>
                    <li>BOTÃO DE REGENERAÇÃO DO CATALISADOR DO DAF.</li>
                    <li>CONTROLE DE TRAÇÃO.</li>
                    <li>FREIO MOTOR.</li>
                    <li>PILOTO AUTOMÁTICO.</li>
                    <li>CONFIGURAÇÕES DO COMPUTADOR DE BORDO.</li>
                    <li>BOTÃO PUSH TO SUPPLY DO SCANIA.</li>
                    <li>EQUIPAMENTO REBOQUE.</li>
                    <li>QUINTA RODA.</li>
                    <li>TRAVA E MANOBRA DO ENGATE/DESENGATE.</li>
                    <li>MANGUEIRAS.</li>
                    <li>DOLLY.</li>
                    <li>ENLONAMENTO DA CAÇAMBA.</li>
                    <li>MONTAGEM E DESMONTAGEM DO SIDER.</li>
                </ul>

                <!-- CONTAINER ASSINATURA MOTORISTA -->
                <div class="containerAssMotorista">
                    <div class="containerTitulo">
                        <p>Assinatura do motorista</p>
                        <img src="../icon//driver.png" alt="">
                    </div>
                    <!-- CANVAS DA ASSINATURA -->
                    <canvas id="canvas">
                    </canvas>
                    <div class="containerClear">
                        <img src="../icon/clear.png" alt="" id="limparAssinaturaMotorista">
                        <button class="addMotorista">
                            <img src="../icon/save.png" alt="">
                            <p>Salvar</p>
                        </button>
                    </div>
                </div>
                <!-- END -->
                <!-- CONTAINER ASSINATURA INSTRUTOR -->
                <div class="containerAssMotorista">
                    <div class="containerTitulo">
                        <p>Assinatura do Instrutor</p>
                        <img src="../icon/instrutor.png" alt="">
                    </div>
                    <!-- CANVAS DA ASSINATURA -->
                    <canvas id="canvasInstrutor">
                    </canvas>
                    <div class="containerClear">
                        <img src="../icon/clear.png" alt="" id="limparAssinaturaInstrutor">
                        <button class="addInstrutor">
                            <img src="../icon/save.png" alt="">
                            <p>Salvar</p>
                        </button>
                    </div>
                </div>
                <!-- END -->

                <!-- CONTAINER ACEITAR E ENVIAR -->
                <div class="containerEnviar">
                    <div class="containerInput">
                        <input type="checkbox" class="checkInput">
                        <p>Confirmo o termo</p>
                    </div>
                    <div class="containerInput">
                        <button class="gerarPDFButton">GERAR PDF</button>
                    </div>
                </div>
                <!-- END -->
            </div>
        </div>
    </div>


    <script src="../scripts/createAssinatura.js"></script>
    <script src="../scripts/addLocalStorage.js"></script>
    <script src="../scripts//modalSalvo.js"></script>
    <script src="../scripts//addArray.js"></script>
    <script type="module" src="../scripts/gerarPDF/pdf.js"></script>
    <script type="module" src="../scripts/dataAtual.js"></script>
    <!-- CDN DA BIBLIOTECA DE ASSINATURA -->
    <script type="module" src="../img/logo64.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/signature_pad@4.0.0/dist/signature_pad.umd.min.js"></script>

    <!-- CND DA BIBLIOTECA DE PDF -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"
        integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/"
        crossorigin="anonymous"></script>
</body>

</html>